<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- data에서 관리하는 특정값이 id에 연결됌 -->
        <p :id="uuid" :class="name">{{ num }}</p>
        <p>{{ doubleNum }}</p>
        <!-- loading이 true일 때 화면에 출력 -->
        <div v-if="loading">
            Loading...
        </div>
        <div v-else>
            test user has been logged in
        </div>
        <!-- v-show="" : display: none, block; 속성 -->
        <div v-show="loading">
            Loading...
        </div>
        <!-- v-model="" 사용자가 입력한 데이터를 vue로 읽어오려면 v-model을 사용 -->
        <input type="text" v-model="massage">
        <p>{{ massage }}</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el : '#app',
            data : {
                num : 10,
                uuid : 'abc1234',
                name : 'text-blue',
                loading : true,
                massage : ''
            },
            // 다른 data의 값을 참조할 때 사용
            computed : {
                doubleNum : function() { return this.num * 2}
            }
        })
    </script>
</body>
</html>